<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <h1>The about page</h1>
    <p>
        Politiker May Valle, Venstre, fra Hamarøy mener det ikke er tvil om at høstens kommune- og fylkestingsvalg er årsaken til nedleggelsen.

– Jeg var blant dem som i sin tid anbefalte at gruppen burde opprettes. Nå er det flere som vurderer å etablere en tilsvarende side. Samferdsel engasjerer og er en forutsetning for bosetting. Facebook-gruppen fanget opp utfordringene og mulighetene. Det er absolutt behov for å ha et slikt diskusjonsforum, sier Valle til Avisa Nordland.

Hun mener folk i distriktene blir behandlet som mindreverdige av blant annet Senterpartiet og de andre som sitter med makten i Nordland fylkeskommune.

– Det er sannheten. Det som skjer på kommunikasjonssektoren er fortvilende. Det ferskeste eksemplet er forslaget om å fjerne tidligbussen fra Oppeid til Bodø, sier May Valle.
Kanal for nedrakking

Asle Schrøder har vært eneadministrator av Facebook-siden. Han mener den har utspilt sin rolle.

– Den ble opprettet den gangen fylket startet arbeidet med det nye samferdselskartet. Den skulle være en kanal for å drøfte omleggingene av hurtigbåttilbudet i fylket vårt. Denne jobben er nå i stor grad gjennomført og gruppen er i dag bare blitt en kanal for dem som rakker ned på politikere som forsøker å gjøre så godt de kan, mener Schrøder.
    </p>
</body>
</html>